<h2> Edit Wardrobe </h2>

<form method="post" action="/wardrobes/<%=@wardrobe.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="item" value="<%= @wardrobe.item %>">
  <input type="submit" value="submit">
</form>
