<h2>Add an item to your wardrobe</h2>
<br><form action="/wardrobes" method="POST">
  <p>Item: <input type="text" name="item"></p>
  <p>Description: <input type="text" name="description"></p>
  <input type="submit" value="submit">
</form></br>

<a href="/wardrobes">Return to your list of Wardrobe Items</a>
