<h1>Insert the form to create a new instance of your model.</h1>
<h2>Add an item to your wardrobe</h2>
<form action="/wardrobes" method="POST">
  <p>item: <input type="text" name="item"></p>
  <input type="submit" value="submit">
</form>
