<p><%= @wardrobe.item %></p>

<form method="post" action="/wardrobes/<%=@wardrobe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Wardrobe">
</form>

<a href="/wardrobes/<%=@wardrobe.id%>/edit">Edit Wardrobe </a>
