<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome!</h2>

    <div class="content">
      <p>The fast and easy way to track your everything in your wardrobe.</p>
    </div>
